# DB
CRAWLING_DB_HOST=replace-with-db-host
CRAWLING_DB_PORT=3306
CRAWLING_DB_NAME=replace-with-db-name
CRAWLING_DB_USER=replace-with-user-name
CRAWLING_DB_PASSWORD=replace-with-user-password

# External APIs
VWORLD_API_KEY=replace-with-vworld-api-key
NAVER_NEWS_CLIENT_ID=replace-with-naver-client-id
NAVER_NEWS_CLIENT_SECRET=replace-with-naver-client-secret
NAVER_NEWS_SERVICE_ID=news
NAVER_NEWS_QUERY=부동산
NAVER_NEWS_SORT=sim
NAVER_NEWS_MAX_START=1000
NAVER_NEWS_BATCH=100
NAVER_NEWS_COMMIT_BATCH=500
